.container {
  padding-top: 5px;
  margin-bottom: 25px;
  height: 50px;
  background-color: black;
  animation: fadeIn 0.5s;
}

.title {
  color: rgb(0, 255, 100);
  margin-left: 25px;
  font-size: 2em;
  font-weight: bold;
  float: left;
}

.menu {
  margin-right: 50px;
  margin-top: 10px;
  float: right;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
